body {
    margin: 0;
    background-color: white;

}

nav {
    overflow: hidden;
    background-color: #e30613;

    padding: 14px 16px;
}

nav h2 {
    font-size: 1.3em;
    color: white;
    text-align: center;

}

nav a {
    float: left;
    font-size: 1.3em;

    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

nav a:hover, nav .dropdown:hover, nav .dropbtn {
    background-color: grey;
}

nav .dropdown {
    float: left;
    overflow: hidden;
}

nav .dropdown .dropbtn {
    font-size: 1.2em;

    border: none;
    outline: none;
    color: white;
    padding: 16px 19px;
    background-color: inherit;

    margin: 0;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav .dropdown-content a:hover {


}

nav .dropdown:hover .dropdown-content {
    display: block;
}

.login {
    text-align: center;
}

.formCreate {
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
    padding: 10px;
    background: white;
    margin: 40px;


}

form label{
    font-size: 20px;
    font-weight: bolder;

}

input {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 300px;
    margin: 10px;


}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;


}

.formContent {
    display: flex;
    justify-content: center;
    text-align: center;

}

.formCenter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.submitButton input{
    font-weight: bold;
    font-size: 15px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
}

.container {
    text-decoration: none;
}

.flex_1 {
    padding: 170px;
    margin-left: 40px;
    font-size: 30px;

}




